# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# OS files
.DS_Store
Thumbs.db

# Project docs
HELP.md

# Environment Variables
.env
.json